page-task-popover {
    .popoverContent {
        .button-ios,
        .button-md {
            background-color: transparent !important;
            width: 100% !important;
            border: none !important;
            border-radius: 0px !important;
            padding: 0px !important;
            margin: 0px !important;
            box-shadow: none !important;
            .button-inner {
                padding-left: 12px;
                min-width: 64px;
                height: 36px;
                justify-content: left !important;
                .text {
                    margin-top: 0px;
                }
                .icon {
                    width: 20px;
                    text-align: center;
                    margin-right: 8px;
                }
            }
        }
    }
}
