page-task-todo {
    .scroll-content {
        padding: 0 16px !important;
        margin: 56px 0 !important;
    }
    .content_list {
        .item-ios,
        .item-md {
            padding-left: 0px !important;
        }
        .label-md,
        .label-ios {
            line-height: 24px !important;
            margin: 0px !important;
        }
        .button-ios,
        .button-md {
            background-color: transparent !important;
            color: #000;
            height: 24px !important;
            margin: 0px !important;
            float: right;
            box-shadow: none !important;
        }
    }
}
